<app-window [title]="title" [url]="url" [(editando)]="editando" [(nuevo)]="nuevo" [(form)]="formGroup" 
    [(object)]="object" [(modificado)]="modificado" [model]="model" [name]="name" [service]="service"
    [titleField]="titleField">
    <form [formGroup]="formGroup">
        <p-tabView>
            <p-tabPanel header="General">
                <div class="row">
                    <div class="col-lg-3">
                        <app-text-input [control]="formGroup.controls.idCategoria" label="ID" [readonly]="true" placeholder="">
                        </app-text-input>
                    </div>
                    <div class="col-lg-12">
                        <app-text-area-input [control]="formGroup.controls.descripcion" label="Descripción" placeholder=""
                            [readonly]="!editando"></app-text-area-input>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </form>
</app-window>
