<div class="mb-5 mt-2">
    <p-card>
        <div class="card-title shadow-5 d-flex align-items-center">
            <i class="material-icons-outlined pr-2 mod-icon">filter</i> FILTROS
        </div>
        <div class="row">
            <div class="col-lg-6">
                <app-reference-input [control]="filtrosForm.controls.empleado" label="Empleado" placeholder=""
                    [clase]="empleadoModel" [service]="empleadoService" name="Empleado"
                    idField="idPersona"></app-reference-input>
            </div>
            <div class="col-lg-6">
                <app-date-input [control]="filtrosForm.controls.fecha" label="Desde Fecha" placeholder=""></app-date-input>
            </div>
        </div>
        <button pButton pRipple label="Consultar" icon="pi pi-search" class="mr-2 mt-3" (click)="getSource()"></button>
        <button pButton pRipple label="Limpliar" icon="pi pi-times" class="mr-2 mt-3" (click)="getFilters()"></button>
    </p-card>
</div>
<app-crud #crud [title]="title" [columns]="columns" [service]="service" [url]="url" [idField]="idField" [model]="model"
    [filtros]="filtros" [filtersValid]="filtrosForm.valid"></app-crud>