// @import '../../../../../theme.scss';
.left-icon {
    font-size: 1.5rem;
    // color: $secundary-color-100;
}
.text-area {
    ::ng-deep .p-inputtext {
        width: 100%!important;
        // background: $light-color-400!important;
        min-height: 3rem;
    }
    ::ng-deep .p-inputtext:disabled{
        background: var(--bs-gray-200);
        opacity: 1;
    }
}
.form-control-icon-left {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.ref-icon {
    font-size: 0.8rem!important;
}
.ref-icon:hover {
    // color: $primary-color-100;
    cursor: pointer;
}
.control-padding {
    padding-bottom: 20px!important;
}
.invalid-feedback {
    font-size: 0.6rem!important;
}
.form-control {
    height: 2.2rem!important;
}
.p-inputgroup-addon {
    height: 2.2rem!important;
    // background: $light-color-400!important;
}
.label {
    font-size: 1rem;
    // color: $dark-color-100;
    font-weight: 400;
}
.menu-item {
    white-space: normal;
    font-size: 0.9rem;
    width: 100%;
}
.menu-icon {
    font-size: 1.1rem;
}