<div class="text-left w-100">
    <div class="label mb-1 pl-1">{{ label }}&nbsp;<span *ngIf="control?.errors?.required" style="color: red;">*</span></div>
    <span class="w-100"
        [class.pb-0]="control.invalid && control.touched">
        <span class="p-inputgroup-addon right-addon" *ngIf="leftIcon"><mat-icon class="left-icon">{{leftIcon}}</mat-icon></span>
        <p-calendar class="date-input w-100" [(ngModel)]="model" (onSelect)="change()" dateMask
            (onBlur)="control?.markAllAsTouched()" [timeOnly]="true" icon="pi pi-clock" dataType="string"
            [class.is-invalid]="control?.invalid && control?.touched" (onInput)="change()"
            [placeholder]="placeholder" [disabled]="readonly" [showIcon]="true" [showTime]="showTime"></p-calendar>
        <div class="invalid-feedback-space" *ngIf="(!control?.invalid || !control?.touched) && !noPadding"></div>
        <div class="invalid-feedback pl-1 pb-0 pt-0" *ngIf="control.errors?.required">{{errors.required}}</div>
        <div class="invalid-feedback pl-1 pb-0 pt-0" *ngIf="control.errors?.pattern">{{errors.pattern}}</div>
    </span>
</div>