<div class="text-left w-100 mb-1">
    <div class="label mb-1 pl-1" *ngIf="!noPadding">{{ label }}&nbsp;<span *ngIf="control?.errors?.required" style="color: red;">*</span></div>
    <div class="p-inputgroup w-100">
        <input #input [type]="passwordType" pInputText [placeholder]="placeholder" [(ngModel)]="model" class="form-control w-100"
            autocomplete="off" (focusout)="control?.markAllAsTouched()" (input)="change(input.value)"
            [class.is-invalid]="control?.invalid && control?.touched" 
            [disabled]="readonly"/>
        <button type="button" pButton pRipple [icon]="icon" class="search-button d-block" (click)="toggleVisibility()"
            [disabled]="readonly"></button>
    </div>
    <div class="invalid-feedback pl-1 pb-0 pt-0" *ngIf="control?.errors?.required"
        [class.d-block]="errors.required && control?.invalid && control?.touched">{{errors.required}}</div>
    <div class="invalid-feedback pl-1 pb-0 pt-0" *ngIf="control?.errors?.maxLenght"
        [class.d-block]="errors.maxLenght && control?.invalid && control?.touched">{{errors.maxLenght}}</div>
    <div class="invalid-feedback pl-1 pb-0 pt-0" *ngIf="control?.errors?.pattern"
        [class.d-block]="errors.pattern && control?.invalid && control?.touched">{{errors.pattern}}</div>
    <div class="invalid-feedback-space" *ngIf="(!control?.invalid || !control?.touched) &&!noPadding"></div>
</div>